.footer-div{
    background-color: #e1dbc6;
    background: linear-gradient(to right , #b7c88a, #c2c1c1);
    padding: 22px;
    margin-top: 20px;
}
.dark-footer-div{
    background-color: #323204;
    padding: 22px;
    margin-top: 20px;
}
.footer-div p{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.dark-footer-div p{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #f0eeeb;
}

@media screen and (max-width:732px) {
    .footer-div, .dark-footer-div{
        padding: 30px;
    }
}