.intro-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    height: 90vh;
    padding-top: 50px;
}
.intro-text-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-text-container{
    width: 47%;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 30px;
    color: #2b2b27;
}
.my-name{
    font-size: 40px;
    margin-bottom: 20px;
}
.my-img-container{
    display: flex;
    justify-content: center;
}
.my-img-container img{
    width: 228px;
    height: 229px;
    border-radius: 1000px;
}
.btns{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.resume-btn{
    border: 1px black solid;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 12px;
    background-color: black;
    color: aliceblue;
    transition: 0.3s ease-in-out;
}
.contact-btn{
    border: 1px black solid;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 12px;
    background-color: #EEE7D2;
    transition: 0.3s ease-in-out;
}
.resume-btn:hover{
    cursor: pointer;
    background-color: rgb(63, 63, 63);
    color: aliceblue;

}
.contact-btn:hover{
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}
