.intro-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    height: 80vh;
    padding-top: 60px;
}
.intro-text-image{
    display: flex;
    align-items: center;
    justify-content: center;

}
.intro-text-container{
    width: 47%;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 30px;
    color: #2b2b27;
}
.dark-intro-text{
    width: 47%;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 30px;
    color: #EEE7D2;

}
.my-name{
    font-size: 40px;
    margin-bottom: 20px;
}

.my-img-container{
    display: flex;
    justify-content: center;
}
.my-img-container img{
    width: 228px;
    height: 229px;
    border-radius: 1000px;
    border-bottom: 2px white solid;
    box-shadow: 0px 2px 20px gray;
}
.btns{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.resume-btn{
    border: 1px black solid;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 12px;
    background-color: #1A1A1A;
    color: aliceblue;
    transition: 0.3s ease-in-out;
}
.resume-dark-btn{
    border: 1px black solid;
    font-size: 15px;
    font-weight:600;
    border-radius: 5px;
    padding: 10px 12px;
    background-color: #EEE7D2;
    color: #1A1A1A;
    transition: 0.3s ease-in-out;
}
.contact-btn{
    border: 1.3px #121212 solid;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 12px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.contact-dark-btn{
    border: 1px #EEE7D2 solid;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 12px;
    background-color: transparent;
    color: #EEE7D2;
    transition: 0.3s ease-in-out;

}
.resume-btn:hover{
    cursor: pointer;
    background-color: rgb(63, 63, 63);
    color: aliceblue;

}
.contact-btn:hover{
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}
.resume-dark-btn:hover{
    cursor: pointer;
    background-color: #d2cbb9;
}
.contact-dark-btn:hover{
    cursor: pointer;
    background-color: #EEE7D2;
    color: black;
}

@media screen and (max-width:732px) {
    .intro-body{
        display: flex;
        justify-content: start;
        flex-direction: column;
        height: auto;
        padding-top: 88px;
    }
    .intro-text-image{
        position: relative;
    }
    .my-img-container{
        position: absolute;
        top: 0px
    }
    .intro-text-container, .dark-intro-text{
        width: 95%;
        font-size: 18px;
        text-align:center;
        padding: 260px 30px 0px 30px;
    }
    .my-name{
        font-size: 30px;
        text-align: center;
    }
    .btns{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
    }
    .resume-btn, .contact-btn, .resume-dark-btn, .contact-dark-btn{   
        font-size: 18px;
        padding: 15px 17px;
        transition: none;
        margin-bottom: 10px;
    }
   
    .resume-btn:hover{
        cursor: none;
        background-color: #1A1A1A;
        color: aliceblue;
    
    }
    .contact-btn:hover{
        cursor: none;
        background-color: #EEE7D2;
        color: black;
    }
}

