.intro-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: row;
    height: 90vh;
}
.intro-text-container{
    width: 47%;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 30px;
}
.my-name{
    font-size: 40px;
    margin-bottom: 20px;
}
.my-img-container{
    display: flex;
    justify-content: center;
}
.my-img-container img{
    width: 228px;
    height: 229px;
    border-radius: 1000px;
}